@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

html,body {
    font-family: "Manrope", sans-serif;
}

#bg-image {
    background-image: url(assets/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
